body {
  font-family: Arial, sans-serif;
}

.btnLang {
  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

.btnApply {
  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}